<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/template.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap">
    <title>Auto Fill-Out</title>
</head>
<body>
    {% block mainBody %}
    {% endblock mainBody %}
</body>
</html>